{% extends "layout.html" %}
{% block body_content %}
    <h1>Welcome to the kitchen!</h1>
    <div>
        <p>In the fridge you have...

	    </div>
{% for food in food %}

<div>
	 {{ food.name }}

	 <form action="{{ url_for('delete_fridge', food_name=food.name ) }}">
		<button type="submit">Delete your item</button>
	 </form>	
	<form action="{{ url_for('update_fridge', food_name=food.name ) }}">			
		<button type="submit">Update your item</button>
	</form>

	</div>
{% endfor %}
	
	</p>
{% endblock %}

