{% extends "layout.html" %}
{% block body_content %}
    <h1>Update your fridge items!</h1>
	
    <div class="form">
        <form method="POST" action="">
                {{ form.hidden_tag() }}
                {% for object in form %}
                {{ object.label }}
                {{ object }}
                        {% if object.errors %}
                                <div class='error'>
                                        {% for error in object.errors %}
                                                <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                        {% endif %}<br>
                {% endfor %}

        </form>
</div>

{% endblock %}

